## default of gitignore v1
## whatever the project add the below lines

# If there is a separator at the beginning or middle (or both) of the pattern,
# then the pattern is relative to the directory level of the particular "*ignore" file itself.
# Otherwise the pattern may also match at any level below the .gitignore level.

# environment
.env.local
.env.*.local

# logs
logs
*.log
*.log*

# compiled output
dist
lib
node_modules

# coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# OS
.DS_Store

# ide
.idea
.vscode
